
# ls colors
export CLICOLOR=1
export LSCOLORS=exgxhxDxcxhxhxfxfxbxbx

# Java settings
# export JDK_HOME=/Library/Java/JavaVirtualMachines/1.6.0_33-b03-424.jdk/Contents/Home
# export JAVA_HOME=/Library/Java/JavaVirtualMachines/1.6.0_33-b03-424.jdk/Contents/Home
# export M2_HOME=/usr/share/maven
# export M2=$M2_HOME/bin
# export MAVEN_OPTS="-d32 -Xmx1024m -XX:MaxPermSize=250m"

# export JDK_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_55.jdk/Contents/Home
# export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.7.0_55.jdk/Contents/Home
# export M2_HOME=/usr/local/apache-maven/apache-maven-3.0.5
# export M2=$M2_HOME/bin
# export MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=250m"

# export GRAILS_HOME="/Users/chris/grails"

# Make vim the default editor
export EDITOR=vim
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

export VAGRANT_VMWARE_CLONE_DIRECTORY="~/Documents/Virtual Machines.localized"
export VAGRANT_VMWARE_FUSION_APP="/Applications/VMware Fusion.app"

# export PATH=~/bin:/usr/local/bin:/usr/local/opt/ruby/bin:/Applications/pgAdmin3.app/Contents/SharedSupport:$PATH
export PATH=~/bin:/usr/local/bin:/Applications/Postgres93.app/Contents/MacOS/bin:$M2:$GRAILS_HOME/bin:$PATH
